.form-line {
    display: flex;
    width: 100%;
}

.spacer {
    flex: 1 1 auto;
    flex-direction: row;
    flex-grow: 1;
    min-width: 3px;
}

.dialog {
    background-color: whitesmoke;
}

.actions {
    display: flex;
    justify-content: space-between;
}

.actions button {
    min-width: 50px;
    width: 30%;
}