<div class="dialog">
  <div class="title">
    <h2 mat-dialog-title>{{this.isCreated ? "Atualizar" : "Inserir"}} Carro</h2>
  </div>
  <div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="saveCarro()">
      <div class="form-line">
        <app-input-field [control]="marca" label="Marca" placeholder="Ex. Fiat" />
        <span class="spacer"></span>
        <app-input-field [control]="nome" label="Nome" placeholder="Ex. Uno" />
      </div>
      <div class="form-line">
        <app-input-field [control]="ano" label="Ano" placeholder="Ex. 2023" type="number" />
        <span class="spacer"></span>
        <app-input-field [control]="km" label="Km" placeholder="Ex. 1300" type="number"/>
      </div>
      <div class="form-line">
        <app-input-field [control]="estado" label="Estado" placeholder="Estado"/>
        <span class="spacer"></span>
        <app-input-field [control]="valor" label="Valor" placeholder="Ex. 70000" iconName="attach_money" />
      </div>
      <div class="form-line">
        <app-input-field [control]="foto" label="Foto URL" placeholder="Ex. https://..." iconName="photo" />
      </div>
      <div class="actions">
        <button color="warn" (click)="deleteCarro()" mat-button>Excluir</button>
        <button [disabled]="!form.valid" type="submit" mat-stroked-button>Salvar</button>
      </div>
    </form>
  </div>
</div>