.carros {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.carro-panel {
    padding-inline-start: 0.5rem;
    padding-inline-end: 0.5rem;
    padding-bottom: 1rem;
    display: flex;
    justify-content: center;
}

@media(min-width: 576px) {
    .col-sm-6 {
        flex: 0 0 47%;
        max-width: 47%;
    }
}

@media(min-width: 992px) {
    .col-lg-4 {
        flex: 0 0 31.5%;
        max-width: 31.5%;
    }
}

@media(min-width: 1200px) {
    .col-xl-3 {
        flex: 0 0 23%;
        max-width: 23%;
    }
}

.title-container {
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding-block-start: 1.5rem;
    padding-block-end: 0.6rem;
    align-items: center;
}

.title {
    font-size: 0.875rem;
    font-weight: 400;
    color: #333;
    line-height: 1.5;
    margin: 0 0 0;
    margin-inline-start: 2.5%;
}

.add-button {
    margin-inline-end: 2.5%;
}