<div class="title">
    <h2 mat-dialog-title>Login</h2>
</div>
<div mat-dialog-content>
    <form [formGroup]="form" (ngSubmit)="login()">
        <p>
          <mat-form-field>
            <input type="email" matInput placeholder="E-mail" formControlName="email">
          </mat-form-field>
        </p>

        <p>
          <mat-form-field>
            <input type="password" matInput placeholder="Senha" formControlName="senha">
          </mat-form-field>
        </p>

        <!--<p *ngIf="error" class="error">
          {{ error }}
        </p>-->

        <div class="button">
          <button type="submit" mat-button>Login</button>
        </div>

      </form>
</div>