.container-navbar {
    width: 95%;
    display: flex;
    margin: auto;
    overflow-x: hidden;
}

.subcontainer {
    width: 100%;
    display: flex;
    justify-items: center;
}

.logo {
    width: 7rem;
    align-items: center;
    display: flex;
}

.spacer {
    flex: 1 1 auto;
    flex-direction: row;
    flex-grow: 1;
}

.navbar-menu {
    display: flex;
}

.menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-inline-end: -0.5rem;
    margin-inline-start: auto;
}

.menu-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    line-height: normal;
    opacity: .85;
    padding-inline-end: 2rem;
    font-weight: 400;
}

.menu-link:hover {
    opacity: 1;
}

.login-icon {
    margin-block-end: -5px;
}