.logo {
    width: 4.75rem;
}

.spacer {
    flex: 1 1 auto;
    flex-direction: row;
    flex-grow: 1;
}

.navbar-menu {
    display: flex;
    width: auto;
}

.menu {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-grow: 1;
    align-items: center;
    margin-inline-end: -0.5rem;
    margin-inline-start: auto;
}

.menu-link {
    text-decoration: none;
    font-size: 1rem;
    color: #333;
    line-height: normal;
    opacity: .85;
    padding-inline-end: 2rem;
}

.menu-link:hover {
    opacity: 1;
}